extends layout/default.jade

block head  
  title 私董会报表
  +css("/css/index.css")

block body
  #app.app
    .line(v-for="data in udata", :class="{'hidden':loaded}")
      .title {{ data.meetingName }}
      .row1
        .col1 公司
        .col 公司所在地
        .col 产品名称
        .col CEO
        .col1 CEO 微信
        .col CEO 电话
        .col 公司规模
        .col 融资状态
      .row(v-for="mdata in data.listEU")
        .col1 {{ mdata.copName}}
        .col  {{ mdata.copCity}}
        .col  {{ mdata.productName}}
        .col  {{ mdata.ceoName}}
        .col1  {{ mdata.ceoWx}}
        .col  {{ mdata.ceoPhone}}
        .col  {{ team(mdata.teamScale) }}
        .col  {{ fund(mdata.fundScale) }}



block js
  +js("/js/index.js")
