@import "./define"

global-reset()

*
  box-sizing:border-box
  -webkit-touch-callout: none
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none

html,body
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  width: 100%
  height: 100%
  margin: 0px;
  padding: 0px
  display: flex;

.app
  margin: 0px;
  width: 100%;
  height: 100%
  overflow: visible;

[v-cloak] 
  display: none

.hidden
  display: none